Groupby and Aggregate functions

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Aggregate').getOrCreate()

In [2]:
spark

In [4]:
df_pyspark = spark.read.csv('datasetT5.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [9]:
## Groupby
df_pyspark.groupby('Name').sum().show()
# first apply groupby then apply aggregate functions.

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      10000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [10]:
## Groupby Departments which gives salary
df_pyspark.groupby('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      13000|
|Data Science|      43000|
+------------+-----------+

In [17]:
## Groupby name which gives maximum salary
df_pyspark.groupby('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [11]:
## Groupby Departments which gives average salary
df_pyspark.groupby('Departments').mean().show()

+------------+-----------------+
| Departments|      avg(salary)|
+------------+-----------------+
|         IOT|           7500.0|
|    Big Data|4333.333333333333|
|Data Science|          10750.0|
+------------+-----------------+

In [12]:
## Groupby Departments which gives number of employees working there
df_pyspark.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [19]:
# without applying groupby first, directly apply aggregate function is also possible. 
# find total salary without considering any other things. 
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      71000|
+-----------+