In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     -------------------------------------- 316.9/316.9 MB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.7
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     -------------------------------------- 200.5/200.5 kB 1.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425388 sha256=9d8f331d7e20ff6fea00619f67b1ad9711f0d86bb5577e258ce779a3f88c4c3b
  Stored in directory: c:\users\thisa\appdata\local\pip\cache\wheels\72\3c\32\f0f20da5a933f8c6c5a1a2184a9e516652ed3eebeb49f5ddd0
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.0

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [3]:
spark.read.csv('test1part3.csv',header=True, inferSchema=True)

DataFrame[name: string, age: int, Experience: int, Salary: int]

In [5]:
spark.read.csv('test1part3.csv',header=True, inferSchema=True).show()

+-------+----+----------+------+
|   name| age|Experience|Salary|
+-------+----+----------+------+
|thisara|  24|        10| 30000|
| bishan|  23|         8| 65000|
|  udith|  25|         4|100000|
| shehan|  27|         2|  5000|
|amantha|NULL|      NULL| 75000|
|   NULL|  34|        10|200000|
|   NULL|  26|      NULL|  NULL|
+-------+----+----------+------+

In [7]:
#save inside a variable
df_pyspark = spark.read.csv('test1part3.csv',header=True, inferSchema=True)

In [8]:
df_pyspark.show()

+-------+----+----------+------+
|   name| age|Experience|Salary|
+-------+----+----------+------+
|thisara|  24|        10| 30000|
| bishan|  23|         8| 65000|
|  udith|  25|         4|100000|
| shehan|  27|         2|  5000|
|amantha|NULL|      NULL| 75000|
|   NULL|  34|        10|200000|
|   NULL|  26|      NULL|  NULL|
+-------+----+----------+------+

In [9]:
#Drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  24|        10| 30000|
|  23|         8| 65000|
|  25|         4|100000|
|  27|         2|  5000|
|NULL|      NULL| 75000|
|  34|        10|200000|
|  26|      NULL|  NULL|
+----+----------+------+

In [10]:
df_pyspark.show()

+-------+----+----------+------+
|   name| age|Experience|Salary|
+-------+----+----------+------+
|thisara|  24|        10| 30000|
| bishan|  23|         8| 65000|
|  udith|  25|         4|100000|
| shehan|  27|         2|  5000|
|amantha|NULL|      NULL| 75000|
|   NULL|  34|        10|200000|
|   NULL|  26|      NULL|  NULL|
+-------+----+----------+------+

In [11]:
df_pyspark.na.drop().show() # null value include raws deleted

+-------+---+----------+------+
|   name|age|Experience|Salary|
+-------+---+----------+------+
|thisara| 24|        10| 30000|
| bishan| 23|         8| 65000|
|  udith| 25|         4|100000|
| shehan| 27|         2|  5000|
+-------+---+----------+------+

In [12]:
## how = all
# 'any' drop a row if it contains any nulls
# 'all' drop a row only if all its values are null.
df_pyspark.na.drop(how="all").show()

+-------+----+----------+------+
|   name| age|Experience|Salary|
+-------+----+----------+------+
|thisara|  24|        10| 30000|
| bishan|  23|         8| 65000|
|  udith|  25|         4|100000|
| shehan|  27|         2|  5000|
|amantha|NULL|      NULL| 75000|
|   NULL|  34|        10|200000|
|   NULL|  26|      NULL|  NULL|
+-------+----+----------+------+

In [13]:
df_pyspark.na.drop(how="any").show()

+-------+---+----------+------+
|   name|age|Experience|Salary|
+-------+---+----------+------+
|thisara| 24|        10| 30000|
| bishan| 23|         8| 65000|
|  udith| 25|         4|100000|
| shehan| 27|         2|  5000|
+-------+---+----------+------+

In [14]:
## threshold
df_pyspark.na.drop(how="any",thresh=2).show()
# to not get deleted at least 2 values must there in a row.
# but last row is deleted, because there are only one not null value.

+-------+----+----------+------+
|   name| age|Experience|Salary|
+-------+----+----------+------+
|thisara|  24|        10| 30000|
| bishan|  23|         8| 65000|
|  udith|  25|         4|100000|
| shehan|  27|         2|  5000|
|amantha|NULL|      NULL| 75000|
|   NULL|  34|        10|200000|
+-------+----+----------+------+

In [15]:
## subset
df_pyspark.na.drop(how='any',subset=['age']).show()
# in 'subset' function we can give a column name, the functionality of 'subset' function is check that column one by one.
# if null value meet, then delete entire row.

+-------+---+----------+------+
|   name|age|Experience|Salary|
+-------+---+----------+------+
|thisara| 24|        10| 30000|
| bishan| 23|         8| 65000|
|  udith| 25|         4|100000|
| shehan| 27|         2|  5000|
|   NULL| 34|        10|200000|
|   NULL| 26|      NULL|  NULL|
+-------+---+----------+------+

In [24]:
## filling the missing value
df_pyspark.na.fill('Missing Values').show()

####################################################################################################################<<--------

+--------------+----+----------+------+
|          name| age|Experience|Salary|
+--------------+----+----------+------+
|       thisara|  24|        10| 30000|
|        bishan|  23|         8| 65000|
|         udith|  25|         4|100000|
|        shehan|  27|         2|  5000|
|       amantha|NULL|      NULL| 75000|
|Missing Values|  34|        10|200000|
|Missing Values|  26|      NULL|  NULL|
+--------------+----+----------+------+

In [23]:
## filling the missing value
df_pyspark.na.fill('Missing Values',['name','age']).show()    

####################################################################################################################<<--------

+--------------+----+----------+------+
|          name| age|Experience|Salary|
+--------------+----+----------+------+
|       thisara|  24|        10| 30000|
|        bishan|  23|         8| 65000|
|         udith|  25|         4|100000|
|        shehan|  27|         2|  5000|
|       amantha|NULL|      NULL| 75000|
|Missing Values|  34|        10|200000|
|Missing Values|  26|      NULL|  NULL|
+--------------+----+----------+------+

In [26]:
df_pyspark.show()

+-------+----+----------+------+
|   name| age|Experience|Salary|
+-------+----+----------+------+
|thisara|  24|        10| 30000|
| bishan|  23|         8| 65000|
|  udith|  25|         4|100000|
| shehan|  27|         2|  5000|
|amantha|NULL|      NULL| 75000|
|   NULL|  34|        10|200000|
|   NULL|  26|      NULL|  NULL|
+-------+----+----------+------+

In [25]:
# select specific columns in a dataframe
df_pyspark.select('Experience', 'age').show()

+----------+----+
|Experience| age|
+----------+----+
|        10|  24|
|         8|  23|
|         4|  25|
|         2|  27|
|      NULL|NULL|
|        10|  34|
|      NULL|  26|
+----------+----+

In [33]:
# null values walata mean, median, mode kiyana widi 3n 1k use karala null values fill karanna puluwan apita. 
# ekata apita use karanna wenawa 'Imputer' function eka
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['age', 'Experience', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['age','Experience','Salary']]
    ).setStrategy("mean")

In [34]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|thisara|  24|        10| 30000|         24|                10|         30000|
| bishan|  23|         8| 65000|         23|                 8|         65000|
|  udith|  25|         4|100000|         25|                 4|        100000|
| shehan|  27|         2|  5000|         27|                 2|          5000|
|amantha|NULL|      NULL| 75000|         26|                 6|         75000|
|   NULL|  34|        10|200000|         34|                10|        200000|
|   NULL|  26|      NULL|  NULL|         26|                 6|         79166|
+-------+----+----------+------+-----------+------------------+--------------+